html,
body {
  height: 100%;
  margin: 0;
}
#fullscreen {
    height: 100%;
    display: flex;
    flex-direction: column;
 }
 #toolbar {
    flex-basis: auto;
 }
 #terminal {
    flex: 1;
 }

#toolbar a {
      padding-left: 1em; 
}

#save {
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    cursor: pointer; 
}
.stop {
    filter: grayscale(100%);
    background: url(save.png) no-repeat;
    background-size: contain; 
}

.start {
    background: url(save.png);
    background-size: contain; 
}
