html,
body {
  background-color: #fff;
  height: 100%;
  margin: 0;
  overflow: hidden; 
}
html #terminal,
body #terminal {
    display: flex;
    height: 100%;
    position: relative;
    width: 100%; 
}
html #toolbar,
body #toolbar {
    display: flex;
    align-items: center; 
}
html #toolbar a,
body #toolbar a {
      padding-left: 1em; 
}
html #save,
body #save {
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    cursor: pointer; 
}
